.container {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  margin: 10px;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.item1 {
  width: 100px;
  height: 100px;
  background-color: #e74c3c;
}
